/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 150px;
}
.about-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #551e53;
}
.about-paragraph {
  font-family: 'Roboto';
  text-align: center;
  color: #555555;
}
@media screen and (max-width: 576px), (min-width: 576px), (min-width: 768px) {
  .about-container {
    height: 50vh;
  }
  .about-paragraph {
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (min-width: 992px), (min-width: 1200px) {
  .about-container {
    height: 70vh;
  }
  .about-paragraph {
    font-size: 20px;
  }
}
